
<div class="pad-left">
<h2 >Welcome <%= @user.name%> </h2>

  <a><div class="notice text-left"></div></a>

  <%= form_for(@user, remote: true) do |f| %><br>

    <ul>
    <li>If you'd like to recieve emails at an address other than the one listed on your GitHub account, enter it below
  </li>
  <li>
    To unsubscribe from all emails, leave this box empty and press update. 
  </li>

  <%= f.text_field :email, placeholder: "@user.email", autofocus: true %>
  <%= f.submit "Update" %>
  <% end %>

    </ul>

<br>
<br>
<br>

<h4 >These questions need your answers:</h4>
<ol >
<%= render partial: "question", collection: @questions %>
</ol>

</div>
</div>
