
<!DOCTYPE html>
<html>
<head>
  <title>Stackup</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<div class="page">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to raw("Stack &#8682;"), root_path, {remote: true, class: "navbar-brand logo-stack-font", style: "color:#eee;"}%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to "About", about_path, remote: true %>
                    </li>
                    <li>
                         <%= link_to "Team", team_path, remote: true %>
                    </li>
                    <li>
                         <%= link_to "My StackUp", @user, remote: true %>
                    </li>

                    <li>
                        <% if current_user %>
                            <%= link_to "Log Out #{current_user.name} ", "/signout" %>
                        <% end %>
                    </li>


                    <li>
                    <% if current_user && current_user.admin %>
                          <%= form_tag("/welcome/admin_actions", id: "admin_actions", method: "post", remote: true) do %>
                          <% end %>
                          
                          <select name="admin_actions" form="admin_actions" onchange="submitAdminForm()">
                            <option selected disabled hidden value="aa">Select Admin Action</option>
                            <option value="rde">Resend Daily Email</option>
                            <option value="dauara">Destroy All Users and Recreate Admins</option>
                          </select>
                    <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->



        <!-- /.container -->
</div>
    </nav>


      <div class="row">
        <div class="col-lg-12" id="ajax-page">


                     <%= yield %>


       </div>
    </div>

</div>
</body>
</html>